@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

:root {
    --green-color: #3cb815;
    --light-green-color: #c0eb7b;
    --light-orange-color: #ff7e00;
    --text-color: #1a2428;
    --bg-color: #f5f7f6;
}

body {
    margin-top: 80px;
    background-color: var(--bg-color);
}

/* Navigation Bar */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2e7d32;
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    padding: 20px 100px;
    transition: 0.5s;
}

.profile {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
}

.profile img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.profile a {
    font-size: 1rem;
    font-weight: 500;
    color: #f5f7f6;
    padding: 0.5rem 1rem;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: #f5f7f6;
    column-gap: 0.5rem;
}

.logo .bx {
    font-size: 24px;
    color: var(--light-green-color);
}

.navbar {
    display: flex;
    column-gap: 0.5rem;
}

.navbar a {
    font-size: 1rem;
    font-weight: 500;
    color: #f5f7f6;
    padding: 0.5rem 1rem;
}

.help_nav {
    background: #31572C;
    border-radius: 5rem;
}

.navbar a:hover {
    background: #31572C;
    border-radius: 5rem;
    transition: background 0.5s;
}

/* Main Content */
.main-content {
    max-width: 1200px;
    margin: 20px auto;
    padding: 80px 20px;
}

.help-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
}

.help-section h1 {
    text-align: center;
    color: #2e7d32;
    margin-bottom: 20px;
}

.help-section article {
    margin-bottom: 20px;
}

.help-section h2 {
    color: #4f772d;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.help-section p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
}
